    
    /* tabs */
    .tabs{
        width: 500px;
    }

    .tabSelector {
        background-color: var(--primary-color);
        padding: 10px;
        display: flex;
        gap : 20px;
    }

    .tabContainer {
        padding : 5px;
        padding-left : 15px;
        background-color: var(--primary-color-light);
        border: 1px solid var(--primary-color);

    }
    
    /* filters */

    /* Add styles for the filter buttons */
    .selectionContainer {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    /* Add styles for the filter input */
    .filterContainer {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        text-align: center;
        border : 1px solid var(--primary-color);
    }

    .filterContainer label {
        margin-right: 10px;
        font-size: small;
    }