    
    /* tabs */

    .tabSelector {
        background-color: #9d9d9d;
        border: 1px solid #b2b2b2;

    }

    .tabContainer {
        padding : 5px;
        padding-left : 15px;
        background-color: #f2f2f2;
        border: 1px solid #b2b2b2;

    }

    .tabcontent {
        
    }
    
    
    /* filters */

    /* Add styles for the filter buttons */
    .selectionContainer {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    /* Add styles for the filter input */
    .filterContainer {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        text-align: center;
        border: 2px #b2b2b2;

    }

    .filterContainer label {
        margin-right: 10px;
        font-size: small;
    }