/* Style for the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #000000;
  display: flex;
}

/* Style for the links in the top navigation bar */
.topnav a {
  color: #f2f2f2;
  padding: 10px 10px;
  text-decoration: none;
  font-size: medium;
}

.topnav_right {
  margin-left: auto;
}

.topnav a.home {
  font-weight: bold;
  font-size: large;
}

/* Style for the bottom footer section */
.footer {
  background-color: #b8b8b8;
  text-align: center;
  font-size: small;
}

/* Style for the main content section */
.main {
  padding: 16px;
  padding-left: 32px;
  padding-right: 32px;
  min-height: calc(100vh - 90px);
  /* Added min-height to make sure the content takes up the remaining space */
  display: flex;
  flex-direction: column;
}

/* Style for the body element */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}