/* USER STYLES */
.overview {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* shape */
    padding : 20px;
    border: 2px solid var(--primary-color);
    width: 500px;
    background-color: var(--primary-color-light);
    border-radius: 10px;
}


.userinfo {
    display: flex;
    padding-left: 20px;
    justify-content: flex-start;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}

.userinfo h2 {
    margin: 0;
}