/* ICONS, STARS, TAGS */

/* images that are icons */
img.icon {
  height: 20px;
}

/* stars div*/
.stars {
  display: flex;
  justify-content: flex-start;
}

/* tags */
.tags {
  display: flex;
  padding-left: 0px;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
}

.tags li {
  background: #0089e0;
  border: #2754a3 1px solid;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 10px;
  margin: 2.5px;
}

.tags p {
  margin: 5px;
}