/* USER STYLES */
.overview {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.login {
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
    border: 1px solid #b2b2b2;
}

.login h2 {
    margin: 0px;
}

.login form {
    padding: 10px;
}

.avatar {
    display: flex;
}

.userinfo {
    display: flex;
    padding-left: 20px;
    justify-content: flex-start;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}

.userinfo h2 {
    margin: 0;
}