.tabbutton {
    background-color: #9d9d9d;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin: 0px;
  }

.tabbutton:hover {
    background-color: rgb(129, 129, 129);
}