.tabbutton {
    background-color: #9d9d9d;
    border: none;
    color: white;
    padding: 5px;
    padding-left: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
    margin: 2px;
    cursor: pointer;
    margin: 0px;
  }

.tabbutton.active {
    color: rgb(0, 0, 0);
}

.tabbutton:hover {
    background-color: rgb(129, 129, 129);
}