<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- title -->
  <title>{% block title %}Repomanager{% endblock %}</title>
  <!-- import css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  <!-- additional css -->
  {% block extra_css %}{% endblock %}
</head>

<!-- MACRO -->

{% macro stars_div(stars) %}
<div class="stars">
  {{stars}}&nbsp;<img class="icon" src="/static/img/star.png" alt="Star" height="20">
</div>
{% endmacro %}


<!-- BODY -->

<body>
  <div class="topnav">
    <div class="topnav_left">
      <a class="home" href="/">Repomanager</a>
      {% if "login_type" in session and "login_input" in session %}
      <!-- User is logged in -->
      <a href="{{url_for('repos',username='{{user.login}}')}}">Repositories</a>
      {% endif %}
    </div>
    <div class="topnav_right">
      {% if "login_type" in session and "login_input" in session %}
      <a href="/logout">Logout</a>
      {% else %}
      <!-- User is not logged in -->
      <a href="/login">Login</a>
      {% endif %}
    </div>
  </div>

  <div class="main">{% block content %}{% endblock %}</div>

  <div class="footer">
    <a href="/about">About</a>
    <p>2023, Giorgio Caizzi</p>
  </div>
</body>

</html>