<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Repomanager{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>

  <body>
    <div class="topnav">
      <p>Repomanager</p>
      {% if "login_type" in session and "login_input" in session %}
        <!-- User is logged in -->
        <a href="/logout">Logout</a>
      {% else %}
        <!-- User is not logged in -->
        <a href="/login">Login</a>
      {% endif %}
      <a href="/about">About</a>
      <a href="/">Home</a>
    </div>

    <div class="main">{% block content %}{% endblock %}</div>

    <div class="footer">
      <p>2023, Giorgio Caizzi</p>
    </div>
  </body>
</html>
