{% extends 'base.html' %} {% block title %}Repositories{% endblock %} {% block content %}
<section>
    <h2>Repositories</h2>
    <p> This are the user repositories.</p>
    <br>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Private</th>
                <th>Language</th>
                <th>Stars</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for repo in repos %}
            <tr>
                <td><a href="{{repo.url}}">{{repo.name}}</a></td>
                <td>{{repo.description|d('',true)}}</td>
                {% if repo.private %}
                <td class="centered"><img src="{{ url_for('static', filename='img/private.png') }}" alt="Private"
                        width="20" height="20"></td>
                {% else %}
                <td class="centered"><img src="{{ url_for('static', filename='img/public.png') }}" alt="Public"
                        width="20" height="20"></td>
                {% endif %}
                <td class="centered">{{repo.private}}</td>
                {% if repo.language|is_none %}
                <td class="centered"></td>
                {% else %}
                <td class="centered"><img src="{{ url_for('static', filename='img/'+repo.language + '.png') }}"
                    alt="{{ repo.language }}" width="20" height="20"></td>
                {% endif %}
                <td class="centered">{{repo.stars}}</td>
                <td><a href="{{url_for('repo',username=repo.username,repo_name=repo.name)}}"> Go.</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}