{% extends 'base.html' %} {% block title %}Repositories{% endblock %} {% block content %}
<section>
    <h2>Repositories</h2>
    <p> This are the user repositories.</p>
    <br>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Private</th>
                <th>Language</th>
                <th>Stars</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for repo in repos %}
            <tr>
                <td><a href="{{repo.url}}">{{repo.name}}</a></td>
                <td>{{repo.description|d('',true)}}</td>
                <td class="centered">{{repo.private}}</td>
                <td class="centered">{{repo.language}}</td>
                <td class="centered">{{repo.stars}}</td>
                <td class=><a href="{{url_for('repo',repo_name=repo.name,username=session.username)}}"> Go.</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
