{% extends 'base.html' %}
{% block title %}Repositories{% endblock %}
{% block extra_css %}
<style>
    /* tables */
    table {
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;

    }

    td {
        border: 1px solid #b2b2b2;
    }

    th {
        padding: 10px;
    }

    td.description {
        max-width: 300px;
        /* Adjust this value as needed */
        word-wrap: break-word;
    }

    td.centered {
        text-align: center;
    }


</style>
{% endblock %}
{% block content %}
<section>
    <h2>Repositories</h2>
    <p> This are the user repositories.</p>
    <br>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th>Private</th>
                <th>Language</th>
                <th>Stars</th>
                <th>Pages</th>
            </tr>
        </thead>
        <tbody>
            {% for repo in repos %}
            <tr>
                <!-- github link -->
                <td class="centered">
                    <a href="{{repo.url}}">
                        <img class="icon" src="/static/img/github.png" alt="Github" height="20">
                    </a>
                    <!-- name with url -->
                <td><a href="{{url_for('repo',username=user.login,repo_name=repo.name)}}">{{repo.name}}</td>
                <!-- description -->
                <td class="description">{{repo.description|d('',true)}}</td>
                <!-- privacy -->
                <td class="centered">
                    {{ repo.private | icon('private') | safe }}
                </td>
                <!-- language -->
                {% if repo.language|is_none %}
                <td class="centered"></td>
                {% else %}
                <td class="centered">
                    {{repo.language | icon('language')| safe }}
                </td>
                {% endif %}
                <!-- stars -->
                {% if repo.stars==0 %}
                <td class="centered"></td>
                {% else %}
                <td class="centered">
                    {{stars_div(repo.stars)}}
                </td>
                {% endif %}
                <!-- pages -->
                <td class="centered">{{repo.pages|icon}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}