{% extends 'layouts/base.html' %}
{% block title %}Home{% endblock %}
{% block extra_css %}
<style>
  .overview {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .login {
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
    border: 1px solid #b2b2b2;
  }

  .login h2 {
    margin: 0px;
  }

  .login form {
    padding: 10px;
  }

  .avatar {
    display: flex;
  }

  .userinfo {
    display: flex;
    padding-left: 20px;
    justify-content: flex-start;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
  }

  .userinfo h2 {
    margin: 0;
  }
</style>
{% endblock %}
{% block content
%}
<section>
  <div class="overview">
    <div class="avatar">
      <img src="{{user.avatar_url}}" alt="{{user.login}}'s avatar" height="100" />
    </div>
    <div class="userinfo">
      <!-- avatar image and basic info -->
      <h2>{{user.login}}</h2>
      <p>
        This is the repository manager of <em>{{user.name}}</em>, aka
        <b>{{user.login}}</b>.
      </p>
      <a href="{{user.html_url}}">Visit {{user.login}} on GitHub</a>

    </div>

</section>
<section>
  <h3>Repositories</h3>
  <!-- repositories -->
  <p>
    There are {{user.repos|length}} <a href="{{url_for('views.repos',username=user.login)}}">repositories</a> in total.
  </p>
  <ul>
    {% for repo in user.repos %}
    <li>
      <a href="{{url_for('views.repo',username=user.login,repo_name=repo.name)}}">{{repo.name}}</a>: {{repo.description|d('',true)}}
    </li>
    {% endfor %}
</section>
{% endblock %}