/* tables */
.table {
    /* remove borders */
    border-collapse: collapse;
    min-width: 600px;
}

.th {
    background-color: var(--primary-color);
    color: rgb(0, 0, 0);
    text-align: left;
}