/* tables */
.table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 100%;
}

.th {
    background-color: #9d9d9d;
    color: rgb(0, 0, 0);
    border: 1px solid #b2b2b2;
    text-align: left;
    padding: 8px;
}