/* tables */
.table {
    margin-left: auto;
    margin-right: auto;
    /* remove borders */
    border-collapse: collapse;
}

.th {
    background-color: var(--primary-color);
    color: rgb(0, 0, 0);
    text-align: left;
}